h1, h2, figcaption, blockquote {
  margin: 0px;
}

article {
  margin: 25px 15px;
}

figure {
  width: 75%;
  margin: 0px auto;
}

figcaption {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  font-style: italic;
}

blockquote {
  font-family: serif;
  padding: 0.5em;
  border-left: 5px solid gray;
  font-style: italic;
}

.e-newspaper {
  width: 960px;
  margin: 0px auto;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 19px;
  line-height: 1.4em;
}

.e-newspaper-name {
  text-align: center;
  padding: 0.9em;
}

.header-footer-rule {
  border-bottom: 1px solid black;
}

.byline {
  margin: 0px;
  font-size: 16px;
  font-style: italic;
}